body {
  background-color: #EEEEEE;
}


h1 {
  color: red;

}

h2 {
  color: black;
  font-weight: bold;
}

.caption_small {
  color: black;
  font-weight: bold;
}

.cite {
   font-style: italic;
}

.author.cite {
   
}

.content-box {
/*  width: 300px; */
  border: 1px solid red;
  padding: 10px;
/*  margin: 20px; */
}

.cite-box {
/*  width: 300px; */
  border: 1px solid grey;
  padding: 20px;
/*  margin: 20px; */
}

/*        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }