body {
  /*background-color: #EEEEEE;*/
  background-color: #f4f4f4;
}


.content-box {
/*  width: 300px; */
  border: 1px solid red;
  padding: 20px;
}

.overview-box {
/*  width: 300px; */
  border: 1px solid black;
  padding: 20px;
}

h1 {
  color: red;  

}

h2 {
  color: black;
  font-weight: bold;
}

.caption_small {
  color: black;
  font-weight: bold;
}

.cite {
   font-style: italic;
}

.author-cite {
   color: #808080;
  padding: 10px;
/*  margin: 20px; */
}

.cite-box {
/*  width: 300px; */
  border: 1px solid grey;
  padding: 20px;
/*  margin: 20px; */
}

/* Styling for chapter2 */

.layer1 {
  border: 1px solid grey;
  background-color: #ffb2ae;	
}

.layer2 {
  /*border: 1px solid grey;*/
  background-color: #c7d2b8;	
}

.layer3 {
  /*border: 1px solid grey;*/
  background-color: #d3dffd;	
}

.layer4 {
  /*border: 1px solid grey;*/
  background-color: #fefebc;	
}

.isbn-box {
/*  width: 300px; */
  border: 1px solid grey;
  padding: 20px;
/*  margin: 20px; */
}

/*        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }